<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Application.MySetup" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Application.MySetup>
            <setting name="IEDriverFolder" serializeAs="String">
                <value>IEDriverServer_x64.2.47.0</value>
            </setting>
            <setting name="ChromeDriverFolder" serializeAs="String">
                <value>chromedriver_win32</value>
            </setting>
            <setting name="FFDriverFolder" serializeAs="String">
                <value>ff-wires-0.3.0-windows</value>
            </setting>
            <setting name="TestSetxls_FileName" serializeAs="String">
                <value>SampleTestSet.xls</value>
            </setting>
            <setting name="DriversFolder" serializeAs="String">
                <value>C:\Drivers\</value>
            </setting>
            <setting name="TestDataFolder" serializeAs="String">
                <value>C:\TestData\</value>
            </setting>
            <setting name="ReportsFolder" serializeAs="String">
                <value>C:\Reports\</value>
            </setting>
            <setting name="DefectsFolder" serializeAs="String">
                <value>C:\Defects\</value>
            </setting>
            <setting name="NameOfTestSetTab" serializeAs="String">
                <value>TestSet</value>
            </setting>
            <setting name="DefaultTimeout" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="IsToRunInGoogleChrome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsToRunInFirefox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsToRunInInternetExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ElementNotFoundText" serializeAs="String">
                <value>Element not found</value>
            </setting>
        </Application.MySetup>
    </userSettings>
</configuration>